* {
  margin: 0;
  padding: 0;
}

.desc-container {
  height: 60vh;
  width: 30vw;
  position: absolute;
  top: 65vh;
  left: 85vw;
  transform: translate(-50%, -50%);
  perspective: 1000px;
}

.textbox {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 100px;
  left: 100px;
  transform-style: preserve-3d;
  transition: all 10s;
}

.textbox:hover{
  transform: rotateX(0deg) rotateY(90deg) rotateZ(310deg);
}

.cards {
  height: 200px;
  width: 200px;
  text-align: center;
  padding: 100px 0;
  color: #fff;
  background-color: black;
  border: 5px solid white;
  font-size: 32px;
  box-sizing: border-box;
  position: absolute;
}

#left {
  right: 130px;
  transform: rotateY(-90deg);
}

#right {
  left: 130px;
  transform: rotateY(90deg);
}

#top {
  bottom: 130px;
  transform: rotateX(90deg);
}

#bottom {
  top: 130px;
  transform: rotateX(-90deg);
}

#front {
  transform: translateZ(130px);
}

#back {
  transform: translateZ(-130px);
}